Software/NODE-RED/flow_MQTTCloudSensors.json
[{"id":"5af0c4a5.356bec","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b7d49a3.5dfa468","type":"mqtt in","z":"5af0c4a5.356bec","name":"MLXTemp","topic":"esp/mlx90614/ambTempC","qos":"1","datatype":"auto","broker":"f8b57542.9c8018","x":100,"y":80,"wires":[["a6e6b98e.3f92b8","2b2ec238.ffc59e","e78ce3aa.e2259","8e16e4e0.6ea7c8","240fd81a.9b11c8"]]},{"id":"bc3f69db.a958c8","type":"ui_gauge","z":"5af0c4a5.356bec","name":"SkyTemp","group":"25b84b39.e73ac4","order":1,"width":3,"height":3,"gtype":"gage","title":"SkyTemp","label":"*C","format":"{{value}}","min":"-40","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":320,"y":160,"wires":[]},{"id":"dc2adcd6.f5236","type":"mqtt in","z":"5af0c4a5.356bec","name":"SkyTemp","topic":"esp/mlx90614/objTempC","qos":"2","datatype":"auto","broker":"f8b57542.9c8018","x":100,"y":200,"wires":[["bc3f69db.a958c8","f302a0cb.22cc4","c1ea831e.dbaa2","e78ce3aa.e2259","240fd81a.9b11c8"]]},{"id":"a6e6b98e.3f92b8","type":"ui_chart","z":"5af0c4a5.356bec","name":"MLXTemp-gr","group":"25b84b39.e73ac4","order":4,"width":6,"height":3,"label":"MLXTemp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-35","ymax":"45","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":330,"y":80,"wires":[[]]},{"id":"d48221e1.ac992","type":"mqtt in","z":"5af0c4a5.356bec","name":"RSSI","topic":"esp/mlx90614/rssi","qos":"2","datatype":"auto","broker":"f8b57542.9c8018","x":90,"y":560,"wires":[["e3b9824e.0a519","bda6ceea.a62ee","41656a07.625894"]]},{"id":"e3b9824e.0a519","type":"ui_chart","z":"5af0c4a5.356bec","name":"RSSI-gr","group":"25b84b39.e73ac4","order":10,"width":6,"height":3,"label":"RSSI","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-90","ymax":"0","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":320,"y":560,"wires":[[]]},{"id":"2b2ec238.ffc59e","type":"ui_gauge","z":"5af0c4a5.356bec","name":"MLXTemp","group":"25b84b39.e73ac4","order":3,"width":3,"height":3,"gtype":"gage","title":"MLXTemp","label":"*C","format":"{{value}}","min":"-35","max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":320,"y":40,"wires":[]},{"id":"bda6ceea.a62ee","type":"ui_gauge","z":"5af0c4a5.356bec","name":"RSSI","group":"25b84b39.e73ac4","order":9,"width":3,"height":3,"gtype":"gage","title":"RSSI","label":"dB","format":"{{value}}","min":"-90","max":"0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":310,"y":520,"wires":[]},{"id":"f302a0cb.22cc4","type":"ui_chart","z":"5af0c4a5.356bec","name":"SkyTemp-gr","group":"25b84b39.e73ac4","order":2,"width":6,"height":3,"label":"SkyTemp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"40","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":330,"y":200,"wires":[[]]},{"id":"c1ea831e.dbaa2","type":"debug","z":"5af0c4a5.356bec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":150,"y":260,"wires":[]},{"id":"e78ce3aa.e2259","type":"ui_chart","z":"5af0c4a5.356bec","name":"Temperatures_gr","group":"7fbdd1f6.3015f","order":1,"width":8,"height":5,"label":"Temperatures [C]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-30","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650,"y":140,"wires":[[]]},{"id":"a7415302.a7002","type":"mqtt in","z":"5af0c4a5.356bec","name":"AirTempC","topic":"esp/sht20/airTempC","qos":"2","datatype":"auto","broker":"f8b57542.9c8018","x":100,"y":320,"wires":[["332f7ae8.92a486","455331a3.3551c","e78ce3aa.e2259","88837a4.cf63d88"]]},{"id":"332f7ae8.92a486","type":"ui_chart","z":"5af0c4a5.356bec","name":"AirTempC-gr","group":"25b84b39.e73ac4","order":6,"width":6,"height":3,"label":"AirTempC","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-20","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":330,"y":320,"wires":[[]]},{"id":"455331a3.3551c","type":"ui_gauge","z":"5af0c4a5.356bec","name":"airTempC","group":"25b84b39.e73ac4","order":5,"width":3,"height":3,"gtype":"gage","title":"AirTemp","label":"*C","format":"{{value}}","min":"-20","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":320,"y":280,"wires":[]},{"id":"3d6bb496.f21e3c","type":"mqtt in","z":"5af0c4a5.356bec","name":"AirHum","topic":"esp/sht20/airHum","qos":"2","datatype":"auto","broker":"f8b57542.9c8018","x":90,"y":440,"wires":[["8e210e2.ac716f","d181bdc8.3e853","cc226e2a.8aef1"]]},{"id":"8e210e2.ac716f","type":"ui_chart","z":"5af0c4a5.356bec","name":"AirHum-gr","group":"25b84b39.e73ac4","order":8,"width":6,"height":3,"label":"AirHum","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":330,"y":440,"wires":[[]]},{"id":"d181bdc8.3e853","type":"ui_gauge","z":"5af0c4a5.356bec","name":"airHum","group":"25b84b39.e73ac4","order":7,"width":3,"height":3,"gtype":"gage","title":"AirHum","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":320,"y":400,"wires":[]},{"id":"88837a4.cf63d88","type":"debug","z":"5af0c4a5.356bec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":150,"y":380,"wires":[]},{"id":"cc226e2a.8aef1","type":"debug","z":"5af0c4a5.356bec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":150,"y":480,"wires":[]},{"id":"8e16e4e0.6ea7c8","type":"debug","z":"5af0c4a5.356bec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":140,"y":140,"wires":[]},{"id":"240fd81a.9b11c8","type":"join","z":"5af0c4a5.356bec","name":"join->array","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":670,"y":320,"wires":[["7094edb5.aa73f4","80dc69a9.0e1038"]]},{"id":"7094edb5.aa73f4","type":"debug","z":"5af0c4a5.356bec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":240,"wires":[]},{"id":"80dc69a9.0e1038","type":"calculator","z":"5af0c4a5.356bec","name":"diff","inputMsgField":"payload","outputMsgField":"payload","operation":"sub","constant":"","x":850,"y":320,"wires":[["4c07c579.526afc","88ce5688.a269e8","baeb8e53.0459e"]]},{"id":"4c07c579.526afc","type":"ui_chart","z":"5af0c4a5.356bec","name":"diff(temp)_gr","group":"7fbdd1f6.3015f","order":7,"width":8,"height":3,"label":"DiFF(Temp) ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"0","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1058,"y":339,"wires":[[]]},{"id":"88ce5688.a269e8","type":"ui_gauge","z":"5af0c4a5.356bec","name":"diff(temp)","group":"7fbdd1f6.3015f","order":2,"width":3,"height":3,"gtype":"gage","title":"Diff(Temp)","label":"*C","format":"{{value | number:2}}","min":"-34","max":"0","colors":["#00b500","#ca3838","#ca3838"],"seg1":"","seg2":"","x":1088,"y":299,"wires":[]},{"id":"1b7a33c0.4c09dc","type":"ui_led","z":"5af0c4a5.356bec","group":"7fbdd1f6.3015f","order":5,"width":3,"height":1,"label":"","labelPlacement":"right","labelAlignment":"center","colorForValue":[{"color":"red","value":"Cloudy","valueType":"str"},{"color":"green","value":"Clear","valueType":"str"}],"allowColorForValueInMessage":true,"name":"","x":1130,"y":200,"wires":[]},{"id":"baeb8e53.0459e","type":"function","z":"5af0c4a5.356bec","name":"Safety","func":"var value = msg.payload;\n///var ttval = msg.paylod.tt\n//if (msg.payload === \"sensor detection\"){\n///    if (value <= ttval){\n    if (value <= -17){\n        !value;\n        msg.payload = \"Clear\";\n    }else{\n        !value;\n        msg.payload = \"Cloudy\";\n    }\n//}\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":120,"wires":[["ebf5fe94.dc313","1b7a33c0.4c09dc","66768a6f.6b2da4"]]},{"id":"ebf5fe94.dc313","type":"debug","z":"5af0c4a5.356bec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1080,"y":60,"wires":[]},{"id":"66768a6f.6b2da4","type":"ui_text","z":"5af0c4a5.356bec","group":"7fbdd1f6.3015f","order":8,"width":3,"height":1,"name":"Cloudiness:","label":"Cloudiness:","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":240,"wires":[]},{"id":"41656a07.625894","type":"debug","z":"5af0c4a5.356bec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":150,"y":620,"wires":[]},{"id":"f8b57542.9c8018","type":"mqtt-broker","z":"","name":"10.0.0.199:1883","broker":"10.0.0.199","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"25b84b39.e73ac4","type":"ui_group","z":"","name":"Sensors","tab":"c220a121.ccd408","order":1,"disp":true,"width":"18","collapse":true},{"id":"7fbdd1f6.3015f","type":"ui_group","z":"","name":"Computations","tab":"c220a121.ccd408","order":2,"disp":true,"width":"8","collapse":true},{"id":"c220a121.ccd408","type":"ui_tab","z":"","name":"MQTT Cloud Sensors","icon":"dashboard","order":6,"disabled":false,"hidden":false}]